<mat-toolbar style="background-color: #c899d9">
  <span class="fill-remaining-space"></span>
  <button mat-button [routerLink]="['/book']">Book</button>
  <button mat-button [routerLink]="['/profile']">Profile</button>
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>
<mat-toolbar [style.backgroundColor]="'#000033'"><!--สร้างแถบสีข้างบน-->
  <label class="headtxt">ข้อมูลการจอง</label>
</mat-toolbar>

<main>
  <div id="block">
    <div id="blockleft"></div>
    <div id="blockup">
      <div id="blocktextup1">
        <div class="nametxt">
          <label>ชื่อ-นามสกุล  </label>
          <div id="box_name">
            {{user.name}}
          </div>
        </div>
      </div>
      <div id="blocktextup2">
        <div class="nametxt">
          <label>เบอร์โทรศัพท์  </label>
          <div id="box_tel">
            {{user.mobilePhone}}
          </div>
        </div>
      </div>
      <div id="blocktextup3">
        <div class="nametxt">
          <label>E-mail  </label>
          <div id="box_mail">
            {{user.email}}
          </div>
        </div>
      </div>

    </div>
    <div id="blockd">
      <div id="blockleftd"></div>
      <div id="blockdown">

        <div id="show">
      <label>ประเภทงาน : &nbsp;&nbsp;{{user.quereSet[0].typeworkQuere.typeWork}}</label><br><br>

      <label>สถานที่จัดงาน : &nbsp;&nbsp;
      {{user.quereSet[0].placeQuere.place}}
          </label><br><br>

      <label>ศิลปินที่ต้องการ : &nbsp;&nbsp;
      {{user.quereSet[0].bandQuere.bandname}}
      <span *ngFor="let artist of arists">{{artist}}</span>
          </label><br><br>

      <label>วันที่จัดงาน :&nbsp;&nbsp; {{user.quereSet[0].placeQuere.date}}</label>
      <br><br>

      <label>เวลาเริ่ม : &nbsp;&nbsp;{{user.quereSet[0].placeQuere.time}}</label>
      <br><br>

      <label>จำนวนชั่วโมง : &nbsp;&nbsp;{{user.quereSet[0].placeQuere.hour}}</label>
      <br><br>

      <label>สถานะการจอง : &nbsp;&nbsp;{{user.quereSet[0].statusQuere.statusQuere}}</label><br><br>
          <div class="bott">
            <button mat-raised-button (click)="cancel()" class="mat-bot" >ยกเลิกการจอง</button>
            <button mat-raised-button (click)="back()" class="mat-bot">กลับหน้าหลัก</button>
          </div>
        </div>
    </div>
      </div>
    </div>
</main>

