mat-card {
    max-width: 50% ;
    margin: auto auto;
    text-align: center;
   
  }

mat-card-actions{
  text-align: center;
  margin: 0 auto;
}

body {
    
  background: url(src/pic/customer.jpg);
  font-family: Kanit, sans-serif;
   width: 100%;
   height: 800px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   float: center;
}

table {
  margin: auto auto;
  text-align: center;
  width: 50%;
  background-color:#FCBB6D;
}