main {
  width: 100%;
  height: 650px;
  background-image: url(src/pic/admin.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.plan {
  width: 40%;
  height: 50%;
  float: center;
  text-align: center;
  border: 5px solid #DFC8EF;
  border-radius: 5px;
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10px;
}

.planIn1 {
  width: 45%;
  float: left;
  font-size: 20px;
  text-align: center;
  padding-top: 5%;
  padding-right: 50px;
}

.planIn2 {
  width: 30%;
  float: left;
  font-size: 20px;
  text-align: center;
  padding-top: 5%;
  padding-left: 50px;
}

.planHead {
  width: 100%;
  height: 50px;
  float: center;
  padding-top: 30px;
  font-size: 30px;
  text-align: center;
}

.planBox1 {
  width: 100%;
  height: 60px;
  text-align: right;
  float: right;
  padding-top: 30px;
}

.planBox2 {
  width: 100%;
  height: 60px;
  text-align: left;
  float: left;
  padding-top: 20px;
}

.selectBox {
  width: 160px;
  height: 30px;
  text-align: center;
  border-radius: 3px;
  border: 2px;
  background-color: gray;
}
