
<main>
  <mat-toolbar style="background-color: #DFC8EF">
    <span class="fill-remaining-space"></span>
    <button mat-button (click)="go()">Manager</button>
    <button mat-button [routerLink]="['/profile']">Dress</button>
    <button mat-button [routerLink]="['/profile']">Finance</button>
    <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar>

  <div class="planHead">
    เพิ่มข้อมูลการติดต่อ
  </div>

  <div class="plan">
    <div class="planIn1">
      <div class="planBox1">
        ข้อมูลติดต่อ : <input matInput placeholder="" value="" [(ngModel)]="contactSet.contact" name="contact">
      </div>
      <div class="planBox1">
        <mat-select placeholder=" " [(ngModel)]="contactSet.type" name="type" class="selectBox">
          <mat-option *ngFor="let type of typeContact" [value]="type.id">
            {{type.type}}
          </mat-option>
        </mat-select>
      </div>

      <div class="planBox1">
        <button mat-raised-button (click)="go()" style="background-color: #9A80FD" >เสร็จสิ้น</button>
      </div>
    </div>
    <div class="planIn2">
      <div class="planBox2">

      </div>
      <div class="planBox2">
        <button mat-raised-button (click)="add()" style="background-color: #9A80FD" >เพิ่ม</button>
      </div>
    </div>
  </div>

</main>

