<main>
  <mat-toolbar style="background-color: #DFC8EF">
    <span class="fill-remaining-space"></span>
    <button mat-button (click)="goManager()" >Manager</button>
    <button mat-button [routerLink]="['/dress']">Dress</button>
    <button mat-button [routerLink]="['/money']">Finance</button>
    <button mat-button [routerLink]="['/artists']">Artists</button>
    <button mat-button [routerLink]="['/contract']">Contract</button>
    <button mat-button (click)="goPractice()">Practice</button>
    <button mat-button [routerLink]="['/albums']">Albums</button>
    <button mat-button [routerLink]="['/table-work']">Work</button>
    <button mat-button [routerLink]="['/sponser']">SponserDress</button>
    <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar>
  <div align="center">
      <p><font size="10">Song</font></p>
      <mat-card class="example-card">
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="ชื่อเพลง" [(ngModel)]="setData.name"></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <textarea matInput  placeholder="Time" [(ngModel)]="setData.songtime"></textarea>
          </mat-form-field>
        <p style="color: red;">{{showError}}</p>
        <button mat-flat-button (click)="save()">เพิ่มเพลง</button>
         <br>
         <br>
         <mat-form-field style="margin-right: 10%">
          <mat-select placeholder="Songs" [(ngModel)]="setSong.songSelectID" (ngModelChange)="test($event)">
              <mat-option *ngFor="let song of songs" [value]="song.name">
                  {{song.name}}
              </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-flat-button (click)="add()">บันทึกเพลง</button>
      </mat-card>
      <br>
      <button mat-flat-button [routerLink]="['/albums']">กลับ</button>
      </div>
      </main>
