<main>
  <mat-toolbar style="background-color: #DFC8EF">
      <span class="fill-remaining-space"></span>
      <button mat-button [routerLink]="['/Manager']"><font size="4"><b>Manager</b></font></button>
      <button mat-button [routerLink]="['/profile']"><font size="4"><b>Dess</b></font></button>
      <button mat-button [routerLink]="['/profile']"><font size="4"><b>Finance</b></font></button>
    <button mat-button [routerLink]="['/albums']"><font size = "4"><b>Albums</b></font></button>
      <button mat-button (click)="logout()"><font size="4"><b>Login</b></font></button>
  </mat-toolbar>
  <div align="center">
      <p><font size="10">Song</font></p>
      <mat-card class="example-card">
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="ชื่อเพลง" [(ngModel)]="setData.name"></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <textarea matInput  placeholder="Time" [(ngModel)]="setData.songtime"></textarea>
          </mat-form-field>
        <p style="color: red;">{{showError}}</p>
        <button mat-flat-button (click)="save()">เพิ่มเพลง</button>
         <br>
         <br>
         <mat-form-field style="margin-right: 10%">
          <mat-select placeholder="Songs" [(ngModel)]="setSong.songSelectID" (ngModelChange)="test($event)">
              <mat-option *ngFor="let song of songs" [value]="song.name">
                  {{song.name}}
              </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-flat-button (click)="add()">บันทึกเพลง</button>
      </mat-card>
      <br>
      <button mat-flat-button [routerLink]="['/albums']">กลับ</button>
      </div>
      </main>
