<mat-toolbar style="background-color: #DFC8EF">
  <span class="fill-remaining-space"></span>
  <button mat-button (click)="goManager()" >Manager</button>
  <button mat-button [routerLink]="['/dress']">Dress</button>
  <button mat-button [routerLink]="['/money']">Finance</button>
  <button mat-button [routerLink]="['/artists']">Artists</button>
  <button mat-button [routerLink]="['/contract']">Contract</button>
  <button mat-button (click)="goPractice()">Practice</button>
  <button mat-button [routerLink]="['/albums']">Albums</button>
  <button mat-button (click)="goPractice()">Work</button>
  <button mat-button [routerLink]="['/sponser']">SponserDress</button>
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<mat-progress-bar mode="buffer" ></mat-progress-bar>
<mat-grid-list cols="1" rowHeight="12:1" >
  <mat-toolbar color="primary" >
    <mat-icon class="example-icon">DRESS</mat-icon>
  </mat-toolbar>
  <mat-progress-bar mode="buffer"></mat-progress-bar>
<br>

  <mat-card class="example-card">

      <div class="flex-container">

        <form #dress="ngForm" (ngSubmit)="onClickSubmit(dress.value)">



          <mat-form-field>
           <h4>ID Artits:</h4>
              <input matInput name ="artist" [(ngModel)]="dress.artist_id">
          </mat-form-field> <br>


        <mat-form-field>
          <h4>Dress:</h4>
             <input matInput name ="dressname" [(ngModel)]="dress.dress_id">
       </mat-form-field><br>

        <mat-form-field>
          <h4>Dress type:</h4>
            <mat-select name ="type" [(ngModel)]="dress.types">
              <mat-option *ngFor="let type of types" [value]="type.value">
                {{type.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field><br>



      <mat-form-field>
        <h4>Dress size:</h4>
          <mat-select name ="size" [(ngModel)]="dress.sizes">
            <mat-option *ngFor="let size of sizes" [value]="size.value">
              {{size.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field><br>


      <mat-form-field>
            <h4>Event:</h4>
            <mat-select name ="event" [(ngModel)]="dress.events">
                <mat-option *ngFor="let event of events" [value]="event.value">
                  {{event.viewValue}}
                </mat-option>
              </mat-select>
          </mat-form-field><br>

          <div class="flex-container">
            <button type="submit" mat-stroked-button color="primary">SAVE</button>
          </div>

        </form>
      </div>
    </mat-card>
