
.flex-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.example-form {

  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
 
  width: 100%;
}
table {
  width: 100%;
}

.example-card {

  max-width: 400px;   
  margin-left: auto;
  margin-right: auto;  
}  
mat-grid-list {
  margin: auto auto;
  background-color: #10151B;
 
}