<mat-toolbar style="background-color: #c899d9">
  <span class="fill-remaining-space"></span>
  <button mat-button [routerLink]="['/book']">Book</button>
  <button mat-button [routerLink]="['/profile']">Profile</button>
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<main>
  <label class="headtxt">บันทึกตารางงานศิลปิน</label>
  <div id="blocktextup1">
    <div class="nametxt">
      <label>Username :</label>

      <div id="box_name">
        {{this.setData.username}}
      </div>
    </div>
  </div>

  <div align="center">
    <table mat-table [dataSource]="quere" class="mat-elevation-z8">

      <ng-container matColumnDef="nameArtist">
        <th mat-header-cell *matHeaderCellDef><font size = "4"><font  color="#000000">ชื่อศิลปิน </font></font> </th>
        <td mat-cell *matCellDef="let element"><font  color="#000000"> {{element.bandQuere.bandname}}</font></td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef><font size = "4"><font  color="#000000">วันที่</font></font> </th>
        <td mat-cell *matCellDef="let element"><font  color="#000000"> {{element.placeQuere.date}}</font></td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef><font size = "4"><font  color="#000000">เวลา</font></font> </th>
        <td mat-cell *matCellDef="let element"><font  color="#000000"> {{element.placeQuere.time}}</font></td>
      </ng-container>

      <ng-container matColumnDef="place">
        <th mat-header-cell *matHeaderCellDef><font size = "4"><font  color="#000000">สถานที่</font></font> </th>
        <td mat-cell *matCellDef="let element"><font  color="#000000"> {{element.placeQuere.place}}</font></td>
      </ng-container>

      <ng-container matColumnDef="invite">
        <th mat-header-cell *matHeaderCellDef><font size = "4"><font  color="#000000">Invite</font></font> </th>
        <td mat-cell *matCellDef="let element"><font  color="#000000"><textarea id ="box_invite" matInput name="invite"  [(ngModel)]="setData.invite"></textarea></font></td>
      </ng-container>

      <ng-container matColumnDef="tag">
        <th mat-header-cell *matHeaderCellDef><font size = "4"><font  color="#000000">Tag</font></font> </th>
        <td mat-cell *matCellDef="let element"><font  color="#000000"><textarea matInput name="tag"  [(ngModel)]="setData.tag"></textarea></font></td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef><font size = "4"><font  color="#000000">ค่าตัวศิลปิน(บาท/ชม.)</font></font> </th>
        <td mat-cell *matCellDef="let element"><font  color="#000000"><input matInput name="price" type="number"  [(ngModel)]="setData.price"></font></td>
      </ng-container>

      <ng-container matColumnDef="old">
        <th mat-header-cell *matHeaderCellDef><font size = "4"><font  color="#000000">ผู้ชมอายุตั้งแต่(ปี)ขึ้นไป</font></font> </th>
        <td mat-cell *matCellDef="let element"><font  color="#000000"><mat-select placeholder=" " [(ngModel)]="setData.old" name="old" id="select">
          <mat-option *ngFor="let old of old" [value]="old.oldId">
            {{old.old}}
          </mat-option>
        </mat-select></font></td>
      </ng-container>

      <ng-container matColumnDef="format">
        <th mat-header-cell *matHeaderCellDef><font size = "4"><font  color="#000000">Format</font></font> </th>
        <td mat-cell *matCellDef="let element"><font  color="#000000">
          <mat-select placeholder=" " [(ngModel)]="setData.format" name="format" id="select">
            <mat-option *ngFor="let format of format" [value]="format.formatId">
              {{format.format}}
            </mat-option>
          </mat-select></font></td>
      </ng-container>


      <ng-container matColumnDef="buttom">
        <th mat-header-cell *matHeaderCellDef><font size = "4"><font  color="#000000">   </font></font> </th>
        <td mat-cell *matCellDef="let element"><font  color="#000000"><button mat-raised-button (click)="save(element.id)" class="mat-bot" >ตกลง</button></font></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>
  </div>
</main>
