<mat-toolbar style="background-color: #DFC8EF">
  <span class="fill-remaining-space"></span>
  <button mat-button (click)="goManager()" >Manager</button>
  <button mat-button [routerLink]="['/dress']">Dress</button>
  <button mat-button [routerLink]="['/money']">Finance</button>
  <button mat-button [routerLink]="['/artists']">Artists</button>
  <button mat-button [routerLink]="['/contract']">Contract</button>
  <button mat-button (click)="goPractice()">Practice</button>
  <button mat-button [routerLink]="['/albums']">Albums</button>
  <button mat-button [routerLink]="['/table-work']">Work</button>
  <button mat-button [routerLink]="['/sponser']">SponserDress</button>
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<main>
  <label class="headtxt">ตารางงานศิลปิน</label>
  <div id="blocktextup1">
    <div class="nametxt">
      <label>Username :</label> {{this.setData.username}}

    </div>
  </div>

  <div align="center">
    <table mat-table [dataSource]="quere" class="mat-elevation-z8">

      <ng-container matColumnDef="nameArtist">
        <th mat-header-cell *matHeaderCellDef><font size = "4"><font  color="#000000">ชื่อศิลปิน </font></font> </th>
        <td mat-cell *matCellDef="let element"><font  color="#000000"> {{element.bandQuere.bandname}}</font></td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef><font size = "4"><font  color="#000000">วันที่</font></font> </th>
        <td mat-cell *matCellDef="let element"><font  color="#000000"> {{element.placeQuere.date}}</font></td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef><font size = "4"><font  color="#000000">เวลา</font></font> </th>
        <td mat-cell *matCellDef="let element"><font  color="#000000"> {{element.placeQuere.time}}</font></td>
      </ng-container>

      <ng-container matColumnDef="place">
        <th mat-header-cell *matHeaderCellDef><font size = "4"><font  color="#000000">สถานที่</font></font> </th>
        <td mat-cell *matCellDef="let element"><font  color="#000000"> {{element.placeQuere.place}}</font></td>
      </ng-container>

      <ng-container matColumnDef="buttom">
        <th mat-header-cell *matHeaderCellDef><font size = "4"><font  color="#000000">จัดการ</font></font> </th>
        <td mat-cell *matCellDef="let element"><font  color="#000000"><button mat-raised-button (click)="pick(element.id)" class="mat-bot" >ตกลง</button></font></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>
  </div>
</main>
