main {
    width: 100%;
    height: 650px;
    background-image: url(src/pic/admin.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.planLeft {
  width: 35%;
  float: left;
  text-align: center;
  border: 5px solid #DFC8EF;
  border-radius: 5px;
  background-color: white;
  margin-left: 5%;
  margin-top: 10px;
  padding-left: 5%;
}

.planRight {
  width: 35%;
  float: right;
  text-align: center;
  border: 5px solid #DFC8EF;
  border-radius: 5px;
  background-color: white;
  margin-right: 5%;
  margin-top: 10px;
  padding-left: 5%;
}

.planIn1 {
  width: 25%;
  float: left;
  font-size: 20px;
  text-align: right;
  padding-top: 30px;
  padding-right: 20px;
}

.planIn2 {
  width: 35%;
  float: left;
  font-size: 20px;
  text-align: left;
  padding-top: 30px;
  padding-left: 20px;
}

.planIn3 {
  width: 40%;
  float: left;
  font-size: 20px;
  text-align: right;
  padding-top: 30px;
  padding-right: 20px;
}

.planIn4 {
  width: 50%;
  float: left;
  font-size: 20px;
  text-align: left;
  padding-top: 30px;
  padding-left: 20px;
}

.planHead {
  width: 100%;
  height: 50px;
  float: center;
  padding-top: 30px;
  font-size: 30px;
  text-align: center;
}

.planBox1 {
  width: 100%;
  height: 60px;
  text-align: right;
  float: right;
}

.planBox2 {
  width: 100%;
  height: 60px;
  text-align: left;
  float: left;
}

.planTail {
  width: 100%;
  height: 50px;
  float: center;
  margin-top: 30%;
  text-align: center;
}

