<main>
  <mat-toolbar style="background-color: #DFC8EF">
    <span class="fill-remaining-space"></span>
    <button mat-button (click)="goManager()" >Manager</button>
    <button mat-button [routerLink]="['/dress']">Dress</button>
    <button mat-button [routerLink]="['/money']">Finance</button>
    <button mat-button [routerLink]="['/artists']">Artists</button>
    <button mat-button [routerLink]="['/contract']">Contract</button>
    <button mat-button (click)="goPractice()">Practice</button>
    <button mat-button [routerLink]="['/albums']">Albums</button>
    <button mat-button [routerLink]="['/table-work']">Work</button>
    <button mat-button [routerLink]="['/sponser']">SponserDress</button>
    <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar>
    <div align="center">
      <p><font size="10">ระบบจัดเก็บข้อมูลศิลปิน</font></p>

      <mat-card class="example-card">
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="ชื่อจริง" [(ngModel)]="setData.firstname"></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="นามสกุล" [(ngModel)]="setData.lastname" ></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="ชื่อเล่น" [(ngModel)]="setData.nickname"></textarea>
        </mat-form-field>

        <mat-form-field style="margin-right: 10%">
        <input matInput type="date" id="box_date"  placeholder="วันเกิด" [(ngModel)]="setData.birthday"><br>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="เพศ"[(ngModel)]="setData.genderIdSelect" (ngModelChange)="test($event)" >
            <mat-option *ngFor="let gender of genders" [value]="gender.id">
              {{gender.gender}}
            </mat-option>
          </mat-select>

        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="number" placeholder="เบอร์โทรศัพท์" [(ngModel)]="setData.phoneInput">
        </mat-form-field>

        <mat-form-field style="margin-right: 10%">
          <mat-select placeholder="ผู้จัดการ"[(ngModel)]="setData.managerIdSelect" (ngModelChange)="test($event)">
            <mat-option *ngFor="let manager of managers" [value]="manager.id">
              {{manager.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="ชื่อวง"[(ngModel)]="setData.bandIdSelect" (ngModelChange)="test($event)">
            <mat-option *ngFor="let band of bands" [value]="band.bandID">
              {{band.bandname}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="แนวเพลง"[(ngModel)]="setData.typeMusicIdSelect" (ngModelChange)="test($event)">
            <mat-option *ngFor="let typeMusic of typeMusics" [value]="typeMusic.typeMusicID">
              {{typeMusic.typemusics}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      <br>
      <button mat-flat-button (click)="save()">ส่ง</button>
        <p style="color: red;">{{showError}}</p>
    </mat-card>
    </div>
</main>
