<body>

  <mat-toolbar style="background-color: #c899d9">
    <span class="fill-remaining-space"></span>
    <h3 style="text-align: center;">WELCOME</h3>
  </mat-toolbar>
  <div>
    <h1 style="font-size: 56px; text-align: center; color: #000000;">REGISTER</h1>

  </div>

  <p style="width: 76%; text-align: right; color: #000000">Already have an account?
    <button mat-raised-button color="primary" style="width: 75px; margin-left: 15px; background-color:slateblue"
      [routerLink]="['/login-cus']">Login</button> </p>

  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <mat-card>
          <ng-template matStepLabel matStepperIcon="phone"> </ng-template>
          <h1 style="font-size:30px; text-align: center; ">Register</h1>

          <mat-form-field class="full-width-input" style="width: 90% ;margin: 0 5% 0 5%;">
            <input matInput placeholder="Username" [(ngModel)]="usernameRegister" formControlName="firstCtrl" required>
          </mat-form-field>

          <mat-form-field class="full-width-input" style="width: 90% ;margin: 0 5% 0 5%;">
            <input required matInput placeholder="Password" type="password" [(ngModel)]="passwordRegister"
              formControlName="firstCtrl" required>
          </mat-form-field>

          <mat-form-field class="full-width-input" style="width: 90% ;margin: 0 5% 0 5%;">
            <input required matInput type="password" placeholder="Confirm Password" [(ngModel)]="repeatPassword"
              formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" (click)="register()">Register</button>
            <br><br>
            <p style="color: red"> {{showError1}} </p>
          </div>
        </mat-card>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel> </ng-template>
        <mat-card>
          <h1 style="font-size:30px; text-align: center; ">Profile</h1>
          <mat-form-field class="full-width-input" style="width: 90% ;margin: 0 5% 0 5%; ">
            <input matInput placeholder="Name" [(ngModel)]="nameProfile" formControlName="secondCtrl" >
          </mat-form-field>

          <mat-form-field class="full-width-input" style="width: 90% ;margin: 0 5% 0 5%; ">
            <input matInput placeholder="ID Card/Passport No" [(ngModel)]="idCardProfile"
              formControlName="secondCtrl">
          </mat-form-field>

          <mat-form-field class="full-width-input" style="width: 40% ;margin: 0 5% 0 5%; ">
            <input matInput [(ngModel)]="birthDayProfile" [matDatepicker]="picker1" [ngModelOptions]="{standalone: true}"
              placeholder="Birth Day" >
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="full-width-input" style="width: 40% ;margin: 0 5% 0 5%;">
            <mat-select placeholder="Gender" [(ngModel)]="genderSelect" formControlName="secondCtrl" >
              <mat-option *ngFor="let gender of genders" [value]="gender.gender">{{gender.gender}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width-input" style="width: 90% ;margin: 0 5% 0 5%; ">
            <input matInput placeholder="Phone Number" [(ngModel)]="phoneProfile"
              formControlName="secondCtrl">
          </mat-form-field>

          <mat-form-field class="full-width-input" style="width: 90% ;margin: 0 5% 0 5%; ">
            <textarea matInput placeholder="Address" [(ngModel)]="addressProfile" formControlName="secondCtrl" ></textarea>
          </mat-form-field>

          <mat-form-field class="full-width-input" style="width: 40% ;margin: 0 5% 5% 5%; ">
            <mat-select placeholder="Country" [(ngModel)]="countrySelect" formControlName="secondCtrl">
              <mat-option *ngFor="let country of countrys" [value]="country.countryName">{{country.countryName}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width-input" style="width: 40% ;margin: 0 5% 0 5%; ">
            <input matInput placeholder="Pastal Code" [(ngModel)]="pastalCodeProfile"
              formControlName="secondCtrl" >
          </mat-form-field>

          <div>
            <button mat-button matStepperNext><B>Next</B></button>
          </div>
        </mat-card>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel> </ng-template>
      <mat-card>
        <div>
          <h1>Confirm Profile</h1>

          <mat-grid-list cols="2" rowHeight="50px">
            <mat-grid-tile>
              <p class="txt-profile"><b>User Name</b></p>
            </mat-grid-tile>
            <mat-grid-tile>
              {{usernameRegister}}
            </mat-grid-tile>
            <mat-grid-tile>
              <p class="txt-profile"><b>Name</b></p>
            </mat-grid-tile>
            <mat-grid-tile>
              {{nameProfile}}
            </mat-grid-tile>
            <mat-grid-tile>
              <p class="txt-profile"><b>ID Card/Passport No.</b></p>
            </mat-grid-tile>
            <mat-grid-tile>
              {{idCardProfile}}
            </mat-grid-tile>
            <mat-grid-tile>
              <p class="txt-profile"><b>Birth Day</b></p>
            </mat-grid-tile>
            <mat-grid-tile>
              {{birthDayProfile}}
            </mat-grid-tile>
            <mat-grid-tile>
              <p class="txt-profile"><b>Gender</b></p>
            </mat-grid-tile>
            <mat-grid-tile>
              {{genderSelect}}
            </mat-grid-tile>
            <mat-grid-tile>
              <p class="txt-profile"><b>Phone Number</b></p>
            </mat-grid-tile>
            <mat-grid-tile>
              {{phoneProfile}}
            </mat-grid-tile>
            <mat-grid-tile>
              <p class="txt-profile"><b>Address</b></p>
            </mat-grid-tile>
            <mat-grid-tile>
              {{addressProfile}}
            </mat-grid-tile>
            <mat-grid-tile>
              <p class="txt-profile"><b>Country</b></p>
            </mat-grid-tile>
            <mat-grid-tile>
              {{countrySelect}}
            </mat-grid-tile>
            <mat-grid-tile>
              <p class="txt-profile"><b>Pastal Code</b></p>
            </mat-grid-tile>
            <mat-grid-tile>
              {{pastalCodeProfile}}
            </mat-grid-tile>

          </mat-grid-list>
         
          
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="saveProfile()"><b>Confirm</b></button>
          <br><br>
          <p style="color: red"> {{showError2}} </p>
        </div>

      </mat-card>
    </mat-step>

  </mat-vertical-stepper>

</body>
